.cards {
  padding: 20px 0 40px;
  border-bottom: solid 1px rgba(33, 33, 33, 0.4);
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cards__list-item {
  max-width: 413px;
}

.cards__image {
  display: block;
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 10px;
}

.cards__content {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.cards__description {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.cards__button {
  background: none;
  border: none;
  padding: 0;
}

.cards__heart-logo {
  opacity: 0.4;
}

.cards__heart-logo:hover {
  opacity: 1;
  cursor: pointer;
}
