.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: solid 1px rgba(33, 33, 33, 0.4);
}

.profile__image {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 10px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  max-width: 420px;
  color: #212121;
  margin: 0 0 12px;
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 420px;
  color: #212121;
  opacity: 0.7;
  margin: 0;
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  color: #212121;
  opacity: 0.7;
  display: flex;
  gap: 8px;
  padding: 0;
  margin-top: auto;
  border: none;
  background: none;
  font-weight: 500;
  line-height: 1;
}

.profile__pencil-logo {
  opacity: 0.7;
}

.profile__edit-button:hover,
.profile__pencil-logo:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__post-button {
  display: flex;
  gap: 8px;
  padding: 18px 32px;
  margin: auto 0 0 auto;
  white-space: nowrap;
  border: none;
  border-radius: 8px;
  color: #fcf5e5;
  background-color: rgb(33, 33, 33);
  font-weight: 500;
  line-height: 1;
}

.profile__post-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
  }

  .profile__image {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0;
  }

  .profile__column {
    align-items: center;
  }

  .profile__name {
    max-width: 288px;
    margin: 12px 0 6px;
    font-size: 20px;
    text-align: center;
  }

  .profile__description {
    max-width: 288px;
    text-align: center;
  }

  .profile__edit-button {
    margin: 32px 0 20px;
  }

  .profile__post-button {
    width: 100%;
    justify-content: center;
  }
}
